# requirements.txt

langgraph
langchain-core
langchain-groq

groq
sentence-transformers

chromadb

cohere

tavily-python

langfuse

fastapi
uvicorn
gradio
httpx
python-multipart

pypdf
langchain-text-splitters
langchain-community


pydantic
python-dotenv
rank-bm25
numpy

pytest
pytest-asyncio
pytest-cov

ruff